@inherits Index
@inject ITicketService _ticketService

<div class="col-sm-12">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Search Tickets by Plant:
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control selectpicker" @bind="@SelectedPlantId">
                                    @if (plants != null)
                                    {
                                        <option>--select all--</option>
                                        @foreach (var pl in plants)
                                        {
                                            <option value="@pl.Id">@pl.Name</option>
                                        }
                                    }
                                </select>
                            </td>

                            <td>
                                <button class="btn btn-primary btn-block" @onclick="Filter">Search</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {

    public async Task Filter()
    {
        if (SelectedPlantId == 0) return;

        if (SelectedPlantId.Equals("--select all--"))
        {
            await _ticketService.Load();
        }
        else
        {
            _ticketService.Tickets = await _ticketService.Tickets_GetByPlantId(SelectedPlantId);
        }
    }
}
